@media only screen and (max-device-width: 480px) {

  .projectClass {
    padding-top: 0px;
  }

  .project-card-component {
    height: 300px;
    width: 300%;
    display: inline-block;
  }

  .cardHolder{
    margin-bottom: 0%;
    display: inline-block;
  }

  html, body {
    max-width: 100%;
    overflow-x: hidden;
  }
}

html {
  scroll-behavior: smooth;
}

.form-styling {
  background: linear-gradient(45deg, DeepSkyBlue, Orchid);
  margin-top: 50px;
  width: 100%;
}

.form-styling button {
  margin-top: 20px;
  border-radius: 5px;
  border: none;
  background-color: #04343f;
  color: white;
  height: 50px;
  width: 120px;
}

.social-icons {
  padding: 25px 50px;
}

a.social {
  margin: 0 1rem;
  transition: transform 200ms;
  display: inline-block;
}

a.social:hover {
  transform: translateY(-2px);
}

a.facebook {
  color: #4968ad;
}

a.github {
  color: #010407;
}

a.instagram {
  color: rgb(170, 54, 102);
}

a.linkedin {
  color: rgb(16, 141, 199);
}