@media only screen and (max-device-width: 480px) {
  .projectClass {
    padding-top: 200px;
  }

  .cardsClass {
    padding-bottom: 350px;
  }

  .form-styling {
    padding-top: 30px;
  }

  .card {
    width: auto;
  }
}

.form-styling {
  background: linear-gradient(45deg, DeepSkyBlue, Orchid);
}

.input-styling {
  padding-top: 40px;
  padding-bottom: 40px;
}

input {
  background-color: transparent;
  padding-bottom: 10px;
  margin-bottom: 25px;
  width: 300px;
  max-width: 700px;
  height: auto;
  border: transparent;
  border-bottom: 1px solid black;
  outline: none;
}

::placeholder {
  color: wheat;
  font-family: "Trebuchet MS";
}

.form-styling button {
  margin-top: 20px;
  border-radius: 5px;
  border: none;
  background-color: #04343f;
  color: white;
  height: 50px;
  width: 120px;
}

.social-icons {
  padding: 25px 50px;
}

a.social {
  margin: 0 1rem;
  transition: transform 200ms;
  display: inline-block;
}

a.social:hover {
  transform: translateY(-2px);
}

a.facebook {
  color: #4968ad;
}

a.github {
  color: #010407;
}

a.instagram {
  color: rgb(170, 54, 102);
}

a.linkedin {
  color: rgb(16, 141, 199);
}
