@media only screen and (max-device-width: 480px) {
  .projectClass {
    padding-top: 0px;
  }

  .project-card-component {
    height: 300px;
    width: 300%;
    padding-right: 40px;
  }

  .cardHolder {
    margin-bottom: 0%;
  }

  .contactText {
    margin-right: 12px;
  }

  html,
  body {
    max-width: 100%;
    overflow-x: hidden;
  }
}

@media only screen and (min-device-width: 992px) {
  #contactId {
    margin-top: 35em;
  }
}

.dark,
.card-body,
.project-card-component {
  background-color: #010407;
  color: rgb(255, 255, 255);
}

html {
  scroll-behavior: smooth;
}

.form-styling {
  background: linear-gradient(45deg, DeepSkyBlue, Orchid);
  width: 100%;
}

input {
  border: 0;
  outline: 0;
}

input:focus {
  outline: none !important;
}

input[type="text"] {
  border: none;
  border-bottom: 1px solid rgb(0, 0, 0);
  background-color: transparent;
  padding-top: 20px;
  width: 300px;
}

::placeholder {
  color: rgb(20, 20, 20);
  opacity: 1;
}

.form-styling button {
  margin-top: 20px;
  border-radius: 5px;
  border: none;
  background-color: rgb(27, 97, 228);
  color: white;
  height: 40px;
  width: 100px;
}

.social-icons {
  padding: 25px 50px;
}

a.social {
  margin: 0 1rem;
  transition: transform 200ms;
  display: inline-block;
}

a.social:hover {
  transform: translateY(-2px);
}

a.facebook {
  color: #4968ad;
}

a.github {
  color: #010407;
}

a.instagram {
  color: rgb(170, 54, 102);
}

a.linkedin {
  color: rgb(16, 141, 199);
}
